[Unit]
Description=XGO Gamepad Config Web App
Documentation=http://localhost:5500
After=network.target
Wants=network.target

[Service]
Type=simple
User=luwu
WorkingDirectory=/home/luwu/XGO-Rider/Luwu-OS/libs/gamepad_config
ExecStart=/usr/bin/python3 /home/luwu/XGO-Rider/Luwu-OS/libs/gamepad_config/app.py
Restart=on-failure
RestartSec=5
# 日志
StandardOutput=journal
StandardError=journal
SyslogIdentifier=xgo-gamepad-config

[Install]
WantedBy=multi-user.target
